:root {
  --bg-color: #333;
  --fg-color: #DDD;
  font-size: 50%;
}

html {
  margin: 0 auto;
  max-width: 80em;

  background-color: var(--bg-color);
  color: var(--fg-color);
}

#countries h1 {
  text-align: center;
  grid-column-end: span 2;
}

#countries h2 {
  margin: 0;
}

#countries {
  display: grid;
  margin: 0 2em;

  grid-template-columns: 1fr auto;

  column-gap: 1em;
  row-gap: 1em;
}

@media (max-width: 650px) {
  #countries {
    row-gap: 0;
    grid-template-columns: 1fr;  
  }

  #countries h1 {
    grid-column-end: span 1;
  }
  
  #countries h2 {
    font-size: 1em;
    padding-bottom: 1em;
    text-align: right;
  }
}