:root {
  --bg-color: #333;
  --fg-color: #DDD;
  font-size: 50%;
}

html {
  margin: 0 auto;
  max-width: 60em;

  background-color: var(--bg-color);
  color: var(--fg-color);
}

#countries h1 {
  text-align: center;
  grid-column-end: span 2;
}

#countries h2 {
  max-width: 14vw;
  width: 14em;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
}

#countries {
  display: grid;
  margin: 0 1em;

  grid-template-columns: 1fr auto;

  column-gap: 1em;
  row-gap: 1em;
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 1.8vw;
  }  
}